@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

.banner{
    background-image: url('../img/Oficina.webp');
    height: calc(100vh - 59px);
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagen{
    position: absolute;
width: 447px;
height: 447px;
left: -09px;
transform: rotate(-9.69deg);
}
.titulos{
    position: absolute;
height: 81px;
left: 74px;

margin-top: 25rem;

font-family: 'Bungee';
font-style: normal;
font-weight: 400;
font-size: 2rem;
/*line-height: 77px;*/

color: #FFFFFF;
}
@media (min-width: 768px) { 
    .titulos{
        font-size: 2.5rem;
    }
}
@media (min-width: 1024px) { 
    .titulos{
        font-size: 3.2rem;
    }
}
.subtitulo{
    
    position: absolute;
    height: 96px;
    left: 86px;
    /*top: 711px;*/
    margin-top: 30rem;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 96px;

    
    
    color: #FFFFFF;
}
@media (min-width: 768px) { 
    .subtitulo{
        font-size: 2.6rem;
    }
}
@media (min-width: 1024px) { 
    .subtitulo{
        font-size: 3.3rem;
    }
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00021B;
    color: #fff;
    
}
.imagen-info img{
    width: 100%;  
}
@media (min-width: 1024px) { 
    .imagen-info img{
        width: 560px;  
    }
}

.imagen-info h2{
    font-size: 50px;
    font-family: 'Bungee', cursive;
}
.home-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 150px 60px;
}
@media (min-width: 768px) { 
    .home-info{
        flex-direction: row;
    }
}
.texto-info{
    border-top: 5px solid #50B8F9;
    padding: 50px 0px 50px 0px;
    border-bottom: 5px solid #50B8F9;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    
}
.texto-info h3{
    line-height: 42px;
}
.padretexto{
    padding: 0 77px;
    margin-top: 40px;
}
.rotar{
   
   font-family: 'Bungee', cursive;
   text-align: center;
   font-size: 50px;
}
@media (min-width: 1200px) { 
    .rotar{
        height: 0px;
        margin-top: 220px;
        margin-left: -65px;
        transform: rotate(90deg);
    }
}
.imgTexto h2{
    text-align: center;
}
@media (min-width: 1200px) { 
    .imgTexto h2{
        text-align: left;
    }
}
.imagen-info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
}
@media (min-width: 768px) { 
    .imagen-info{
        padding: 0;
    }
}
@media (min-width: 1200px) { 
    .imagen-info{
        grid-template-columns: repeat(2, 1fr);
    }
}

.whatsapp {
    background-color:#50B8F9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }
  .whatsapp-presupuesto{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
  }
  .whatsapp-presupuesto p{
      margin: 0px;
      font-size: 1.5rem;
      color: #50B8F9;
      font-family: 'Bebas Neue', cursive;

  }
@media screen and (max-width: 768px){
      .imagen{
        width: 247px;
        height: 347px;
    }
}
