
:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape:18em;
}


body{
 
    background-color: #E5E5F7;
    opacity: 1;
 
}
.back{
    background-color:rgba(93, 16, 180, 0.856);
}
.container{
    width: 95%;
    max-width: 1300px;
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}



.title{
  
    text-align: var(--align-title);
    color: var(--color-title);
    font-family: 'Coda Caption', sans-serif;
    letter-spacing: -2.5px;
    color: white;
}


/* about */

.about{
    display: grid;
    grid-template-columns: 4fr 4fr;
    place-items: center;

}

.about__course{
    width: 90%;
    margin-left: 10%;
}

.about__course h2{
    margin-bottom: 10px;
       
}

.about__paragraph{
    margin: 20px 0;
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.7rem;
    color: white;
    width: 80%;
}

.about__picture{
    text-align: center;
}

.about__img{
    width: 90%;
  
}
.hr_black{
    margin: 3px 0px 15px !important;
    width: 70% !important;
    height: 7px  !important;
    background: black !important; 
    opacity: 1;
  
}


/* SEGUNDO DIV */

.back2{
    background-color:rgb(4, 0, 36);
    height: 750px;
}

.container2{
    width: 95%;
    max-width: 1300px;
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}


.about2{
    display: grid;
    grid-template-columns:1fr 1fr ;
    place-items: center;
}

.hr_pink{
    margin: 3px 0px 15px !important;
    width: 60% !important;
    border: none !important; 
    height: 7px !important; 
    background: rgb(178, 35, 214) !important;
    opacity: 1;
 
  
}
.about__course2{

    width: 80%;
    margin-left: 30%;
    margin-bottom: 25%;
    /* max-width: 500px; */

}
.about__paragraph2{
    margin: 20px 0;
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.7rem;
    color: white;
    width: 75%;
}

.about__img2{

    width: 480px;
    height: 480px;
    border-radius: 50%;

}

.title2{
  
    text-align: var(--align-title);
    color: var(--color-title);
    font-family: 'Coda Caption', sans-serif;
    letter-spacing: -2.5px;
    color: white;
}

/* GOOGLE MAPS */
 
.mapa{
  
    overflow:hidden;

} 
figure{
    display:block;
    line-height:0;
}
.img-mapa{
    width: 100%;
}


/* DIV 3 */
.back3{
    background-color: rgba(60, 179, 248, 0.856);

}
.container3{
    width: 95%;
    max-width: 1300px;
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}
.about3{
    display: grid;
    grid-template-columns: 4fr 4fr;
    height: 700px;
  
}
.about__course3{
    width: 90%;
    margin-left: 10%;
    align-items: center;

}

.title3{
    text-align: var(--align-title);
    color: var(--color-title);
    font-family: 'Coda Caption', sans-serif;
    letter-spacing: -2.5px;
    color: white;
}


.about__paragraph3{
    margin: 20px 0;
    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.7rem;
    color: white;
    width: 80%;
}


.about__img3{
    width: 460px;
    height: 790px;
    top: 1200px;  
  
    margin-left: 6%;
  
}
.titulo2{
   padding-bottom: 300px;
   padding-top: 100px;
   text-align: center;
}
.titulo2 h2{
    font-size: 4rem;
    color: #00bfff;
    font-family: 'Bungee', cursive;
    /* text-shadow: 10px 5px 5px  #fff; */
    text-shadow: 4px 0px 15px rgba(204,0,255,0.6);
    0 0 0.2em #fff;
    letter-spacing: 2.5px;
}


@media (max-width: 1050px) {
    .about__img2{
        width: 390px;
        height: 390px;
    }
    .back3{
        height: 1100px;
    }
    .about3{
        grid-template-columns: 5fr 4fr;
        max-height: 550px;
    }
    .about__img3{
        
        width: 390px;
        height: 720px;
        margin-right: 20px;
       
    }
    .about__course3{
        margin-left: 50px;
    }
  
    .titulo2 h2{
        padding-top: 80px;
        font-size: 3.8rem;
        
    }
    
}
@media (max-width: 992px) {
    .back2{
        max-height: 700px;
    }

    .container3{
       
        max-height: 650px;
    }
    .about__img3{
        /* width: 40%;
        height: 70%; */
         padding-bottom: 10px; 
        position: static;

       height: 85%;

       
     }
     .about__course3{
         align-items:center;
         margin-top: 50px;
     }
     
     .titulo2 h2{
         font-size: 3rem;
       
    }

}
@media screen and (max-width:768px){
    :root{
        --height-shape:14em;
    }

    /* About */
    .about{
     
        grid-template-columns: 1fr;
        grid-auto-rows: 50%;
       /* height: 550px;  */
        padding-bottom: 35px;
        padding-top: 45px;
        gap: 25px;
       
    }

    .about__course{
       padding-bottom: 20px;
        width: 80%;
        text-align: center;
        /* margin-top: 20%; */
       margin-left: 10px;
       margin-right: 10px;
        
    }

    .about__course h2{
        text-align: center;
    
    }
    .title{
        font-size: 1.2rem;
      
    }
    .about__paragraph{
        width: 100%;
        font-size: 0.9rem;
        margin-top: -2px;

    }
    .about__picture{
        order: -1;
        
    }

    .about__img{
       
        width: 75%;
        margin-top: 20px;
    }
    .hr_black{
        margin-top: 15px !important;
        width:100% !important;
        height:4px !important; 
    }

    /* div2 */
    .back2{
        max-height: 450px;
    }
    
    .container2{
      padding-top: 40px;

       
        
    }
    
    .about2{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 50px;
      
    }

    .about__course2{
        margin-top: -20px;
        width: 70%;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about__course2 h2{
        text-align: center;

    }
    .title2{
        font-size: 1.2rem;
      
    }
    .about__paragraph2{
        width: 100%;
        font-size: 0.9rem;
        margin-top: -2px;

    }
    .about__picture2{
        order: -1;
    }
    .about__img2{

        width: 200px;
        height: 200px;
    }
    .hr_pink{
        margin-top: 10px !important;
        width:100% !important;
        height:4px !important; 
    }

/* div3 */
.back3{
    height: 980px;
}
.container3{
    width: 100%;
    min-height: 600px;

}
.about3{
     
    grid-template-columns: 1fr;
    grid-auto-rows: 50%;

    padding-top: 45px;
    gap: 300px;

}

.about__course3{
    justify-self:center;
     width: 70%;
       text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -80px;
}

.about__course3 h2{
    text-align: center;

}

.about__picture3{
    order: -1;
 
 
}

.about__img3{
   /* height: 550px;  */

   margin-top: -80px;
        width: 100%;
        height: 500px;
    margin-left: 0;
    position: static;
}
.about__paragraph3{
    width: 100%;
    font-size: 1rem;
    margin-top: -2px;
}

.titulo2 h2{
    font-size: 2.5rem;
    padding: 0px 30px 0px 30px;
  
}


@media screen and (max-width:485px){
    .back{
        max-height: 500px;
    }
    .about__course{
       margin-top: -10px;
    }
    .back2{
        max-height: 440px;
    }
    .back3{
        height: 1020px;
    }
    .about__img3{
        position: static;
      
    }

    .container3{
        
        min-height: 730px;
    
    }
    .titulo2 h2{
        font-size: 1.8rem;
        
    }
}
}